@font-face {
  font-family: "Muli";
  src: url("./fonts/muli/Muli-Light.ttf");
}

* {
  font-family: "Muli";
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
}

.SlackInvitation {
  height: 15%;
}
