.App-header {
  background: url("../../images/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 55vh;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-title {
  font-size: 2.1rem;
}
